{
   "NotebookApp": {
     "password": "{{jupyter_password}}"
     "ip": "*",
     "allow_origin": "*",
     "allow_remote_access": true,
     "open_browser": false,
     "websocket_compression_options": {},
     "certfile": "/root/.jupyter/service.pem",
     "keyfile": "/root/.jupyter/service-key.pem",
     "notebook_dir": "/root/work/notebooks"
   }
}
