[Unit]
Description=Jupyter notebook
After=network.target

[Service]
WorkingDirectory=/root/work/src/git.acronis.com/alkurbatov
ExecStart=/usr/local/bin/jupyter notebook

[Install]
WantedBy=multi-user.target
